.single {
  ul, ol {
    padding-left: 30px;
  }
  .single-title {
    font-size: 1.75rem;
    margin-bottom: 10px;
  }

  .single-meta {
    margin-bottom: 20px;
  }

  & > code, p > code {
    background-color: #f8f8f8;
    padding: .3rem;
    color: #e96900;
    margin: 0 2px;
    border-radius: 2px;
    font-family: menlo, monospace;
    font-size: 13px;
  }

  pre {
    background-color: #f8f8f8;
    padding: 1.5rem 1rem;
    color: #525252;
  }

  .single-content {
    a {
      color: #42b983;
      font-weight: 600;
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.25rem;
    }

    h1, h2, h3, h4, h5, h6 {
      margin-top: 30px;
    }

    h4, h5, h6 {
      font-size: 1rem;
    }

  }
  pre {
    overflow: scroll;
  }
  .highlight {
    position: relative;
    background-color: #fafafa;
    border-radius: 4px;
    .btn-copy {
      position: absolute;
      top: 0;
      right: 0;
      background: none;
      border: none;
      color: #aaa;
      font-weight: 600;
    }
  }

  .single-tags {
    margin: 30px 0 0;

    .single-tag {
      margin-right: 5px;
      color: #999;
      transition: color .5s;

      &:hover {
        color: #000;
      }
    }
  }

  .single-related {
    .post {
      margin-bottom: 20px;
    }
  }
}